#top{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #82c0e4;
    box-shadow: 0 0 8px 2px #82c0e4;
	transition: all ease 0.3s;
	cursor: pointer;
    overflow: hidden;
}
#top:hover{
	height: 120px;
}
#top:hover ~ #content{
	margin-top: 140px;
}
#top:hover > .topbtn{
	opacity: 1;
}
body{
	font-family: Segoe UI, SegoeUI, Arial, sans-serif;
	margin: 0;
    color: #222;
}
#bottom{
	width: calc(100% - 40px);
	background-color: #888;
	color: #fff;
	padding: 20px;
}
#content{
	margin-top: 100px;
	transition: all ease 0.3s;
	width: calc(100% - 40px);
	padding: 0 20px;
}
#list{
	height: 400px;
	width: 100%;
	overflow-x: scroll;
    overflow-y: hidden;
	background-color: #eee;
	border-radius: 10px;
	margin-bottom: 20px;
    scrollbar-width: none;
    box-shadow: inset 0 0 2px 2px #ccc;
    white-space: nowrap;
}
.item{
    width: 300px;
    display: inline-block;
    height: calc(100% - 40px);
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    vertical-align: top;
}
.topbtn{
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 40px;
    display: inline;
    border: 1px solid #b2d1e2;
    color: #ebf1f4;
    opacity: 0;
    transition: all 0.3s ease 0.3s;
}
.topbtn:hover{
    transition: all 0.3s ease;
    box-shadow: inset 0 0 2px 2px #82c0e4;
    border: 1px solid #82c0e4;
    background-color: #fff;
    color: #222;
}
.topbtn:active{
    outline: 2px dashed #fff;
}
.item-img{
    width: 280px;
    margin: 10px;
    height: 200px;
    text-align: center;
}
.item-title{
    font-size: 24px;
    font-weight: bolder;
    margin: 10px;
}
.item-description{
    color: #888;
    margin: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-purchase{
    cursor: pointer;
    border: 2px solid #82c0e4;
    border-radius: 3px;
    margin: 10px;
    height: 45px;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 45px;
}
.item-purchase:hover{
    background-color: #82c0e4;
    color: #fff;
}
.photo{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
}
#map {
    height: 600px;
    z-index: -1;
}
#map1 {
    height: 600px;
    z-index: -1;
}
a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}